RewriteEngine on
RewriteBase /ClanWars/
# Hide the application and system directories by redirecting the request to index.php

RewriteRule ^(application|system|\.svn) index.php/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [QSA,L]

php_value memory_limit 96M
php_value upload_max_filesize 64M
php_value post_max_size 64M