.row-fluid .span3 {
    width: 23.0769% !important;
}
.span3 {
    width: 270px;
}
.row-fluid .span9 {
    width: 74.359% !important;
}
.row-fluid:before, .row-fluid:after {
    content: "";
    display: table;
    line-height: 0;
}
.row-fluid:after {
    clear: both;
}
.row-fluid {
    width: 100%;
}
*, a:focus {
    outline: medium none !important;
}
.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}


.row-fluid [class*="span"] {
    -moz-box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 2.5641%;
    min-height: 30px;
    width: 100%;
}

.center {
    text-align: center !important;
}
[class*="span"] {
    float: left;
    margin-left: 30px;
    min-height: 1px;
}
*, a:focus {
    outline: medium none !important;
}
.thumb {
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
}
a {
    color: #37A6CD;
    outline: 0 none !important;
}
a {
    text-decoration: none;
}


.menubar {
    background: none repeat scroll 0 0 #F5F5F5;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    height: 34px;
    margin: 0 0 10px;
    overflow: hidden;
    position: relative;
}
h4, h3 {
    color: #575655;
}
h1, h2, h3, h4, h5, h6 {
    color: #575655;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    margin: 0 0 10px;
}
h4 {
    font-size: 17.5px;
}
p {
    font-size: 12px;
    line-height: normal;
    margin: 0 0 10px;
}
img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.separator.bottom {
    padding: 0 0 10px;
}
.separator {
    display: block;
}

.glyphicons.standard {
    height: 24px;
    padding: 0;
    width: 24px;
}
.glyphicons {
    color: #1D1D1B;
    display: inline-block;
    padding: 5px 0 5px 35px;
    position: relative;
    text-decoration: none;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.clearfix:after {
    clear: both;
}
.separator.bottom {
    padding: 0 0 10px;
}
.glyphicons.single {
    color: #37A6CD;
    padding: 0 0 0 20px;
}
.site li
{
    display: inline;
}

.form label{
    display: inline-block;
    width:150px;
    padding: 0px;
    font-family: "Comic Sans";
    color: #37A6CD;
    font-size: 17px;

}
.form input,#site,.textarea
{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 15px;
    border: 2px solid deepskyblue;

}
.heading h4
{
    display: inline;
}

.heading #button
{
    float: right;
    font-size: 15px;
    color: #808080;
    background-color: lightcyan;
    border: 2px solid #0596e9;
    border-radius:7px;
    padding: 3px;
}

.gender
{
    margin-right: 0;
    display: inline;
}

.textarea
{
    margin-bottom: 15px;
    padding-left: 115px;
}
#site
{
    margin-top: 5px;
}